server.properties
ops.json
.bash_history
banned-players.json
banned-ips.json
whitelist.json
minecraft.jar
eula.txt
start.sh
logs/*
/world/playerdata/*
/world/data/*
/world/DIM1/*
/world/region/*
/world/stats/*
/world/playerdata/*
/world/DIM-1/*
/world/advancements/*