server.properties
ops.json
.bash_history
banned-players.json
banned-ips.json
whitelist.json
minecraft.jar
eula.txt
start.sh
logs
playerdata
DIM1
region
stats
playerdata
DIM-1
advancements
.oracle_jre_usage
crash-reports
*.dat
level.dat_old
usercache.json
session.lock
node_modules
typings
typings.json
strutures
