extends layout.pug
append scripts
    script(defer src="/js/clientApp.js")
append content

    div.admin_panel
        div.server-box.box
            h2 Survival server
            div.console_block
                button#start-survival(type="button") Lancer le serveur
                div.console#console-survival
                form#send-command-survival
                    input#command-survival(type="text" placeholder="envoyer une commande")
                    input(type="submit" value="Valider")
            div.structures_block
                ul#structures
                form#send-structure
                    input#file_structure(type="file" name="upload")
                    input(type="submit" value="Envoyer")
        div.server-box
            h2 Skyblock server
            div.console_block
                button#start-skyblock(type="button") Lancer le serveur
                div.console#console-skyblock
                form#send-command-skyblock
                    input#command-skyblock(type="text" placeholder="envoyer une commande")
                    input(type="submit" value="Valider")
        div.server-box
            h2 Proxy server
            div.console_block
                button#start-proxy(type="button") Lancer le serveur
                div.console#console-proxy
                form#send-command-proxy
                    input#command-proxy(type="text" placeholder="envoyer une commande")
                    input(type="submit" value="Valider")